<?xml version="1.0"?>
<launch>

  <arg name="laser_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="verbose"       default="false"/>
  <arg name="paused"        default="false"/>
  <arg name="use_sim_time"  default="true"/>
  <arg name="gui"           default="true"/>
  <arg name="headless"      default="false"/>
  <arg name="debug"         default="false"/>
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find bircimatec5_map)/model"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find bircimatec5_map)/model"/>
  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"    value="$(find bircimatec5_map)/world/cimatec.world"/>
    <arg name="debug"         value="$(arg debug)" />
    <arg name="gui"           value="$(arg gui)" />
    <arg name="paused"        value="$(arg paused)"/>
    <arg name="use_sim_time"  value="$(arg use_sim_time)"/>
    <arg name="headless"      value="$(arg headless)"/>
    <arg name="verbose"       value="$(arg verbose)"/>
  </include>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky_desafio)/launch/robot.rviz" output="screen"/>

  <node pkg="pointcloud_to_laserscan"
    type="pointcloud_to_laserscan_node"
    name="pointcloud_to_laserscan_node"
    args="cloud_in:=/velodyne_points" />

  <arg name="urdf_extras" default="$(find husky_desafio)/urdf/vlp-16.xacro"/>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" value="$(arg urdf_extras)"/>
  </include>
</launch>
