<?xml version="1.0"?>
<launch>

  <arg name="map_file" default="$(find explore_lite)/testedoteste.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <include file="$(find husky_navigation)/launch/amcl.launch" />
	<include file="$(find husky_navigation)/launch/move_base.launch" />

</launch>
